.userWrap{
    margin-left: -.1rem; padding-top: 2rem; 
    display: flex; align-items: center;
    :global .xi-user-address{
        margin-left: -1rem;
        font-size: 10rem; color: #505D7D; 
    }
    .userInfo{
        h4{
            font-size: 1.8rem; font-weight: normal; color: #505D7D; 
        }
        p{
            font-size: 1.6rem; color: #666;
        }
        span{
            margin: .5rem 0;
            display: inline-block;
            font-size: 1.6rem; color: #444;
        }
    }
}
.userDesc{
    margin: 1rem 0 0 .2rem;
    span{
        margin-top: 1.5rem; margin-left: 0.1rem;
        display: block; 
        height: .5rem; width: 7rem; 
        background: #5684FD;
    }
    h3{
        margin-top: 2rem;
        font-size: 1.8rem; font-weight: normal;  color: #505D7D;
    }
    div{
        margin-top: 1rem;
        line-height: 2.2rem;
        font-size: 1.5rem; color: #777; 
    }
}

@media all and (max-width:1220px) {
    .userWrap{
        padding-top: 0;
        :global .xi-user-address{
            margin-left: 2rem;
        }
        .userInfo{
            h4{
                font-size: 1.6rem; 
            }
            p{
                font-size: 1.5rem; 
            }
            span{
                margin: .7rem 0;
                font-size: 1.5rem; 
            }
        }
    }
    .userDesc{
        margin:1rem 0 0 0; padding: 0 3rem; box-sizing: border-box;
        h3{
            font-size: 1.8rem ; 
        }
        div{
            font-size: 1.5rem; line-height: 2.2rem;
        }
    }
}

@media all and (max-width:500px) {
    .userWrap{
        padding-top: 1rem;
        :global .xi-user-address{
            margin-left: 1rem;
        }
    }
    .userDesc{
        padding: 0 2rem; 
        span{
            margin-top: 0;
        }
        div{
            margin-top: .5rem;
        }
    }
}


@media all and (max-width:340px) {
    .userWrap{
        padding-top: 0;
        :global .xi-user-address{
            margin-left: 0;
        }
    }
    .userDesc{
        padding: 0 1rem; 
    }
}