.userWrap{
    margin-left: -.1rem;
    padding-top: 2rem; display: flex; align-items: center;
    :global .xi-user-address{
        font-size: 10rem; color: #34495E;; margin-left: -1rem;
    }
    .userInfo{
        h4{
            font-size: 1.8rem; color: #34495E; font-weight: normal;
        }
        p{
            font-size: 1.6rem; color: #666;
        }
        span{
            display: inline-block; margin: .5rem 0;
            font-size: 1.6rem; color: #444;
        }
    }
}
.userDesc{
    margin:1rem 0 0 .2rem;
    span{
        margin-top: 1.5rem; display: block; margin-left: 0.1rem;
        height: .5rem; width: 7rem; 
        background: #00A19D;
    }
    h3{
        margin-top: 2rem;
        font-size: 1.8rem ; color: #000; font-weight: normal;
    }
    div{
        margin-top: 1rem;
        font-size: 1.5rem; color: #777; line-height: 2.2rem;
    }
}

@media all and (max-width:1220px) {
    .userWrap{
        :global .xi-user-address{
            margin-left: 1.5rem;
        }
        .userInfo{
            h4{
                font-size: 1.6rem; 
            }
            p{
                font-size: 1.5rem; 
            }
            span{
                margin: .7rem 0;
                font-size: 1.5rem; 
            }
        }
    }
    .userDesc{
        margin:1rem 0 0 0; padding: 0 3rem; box-sizing: border-box;
        h3{
            font-size: 1.8rem ; 
        }
        div{
            font-size: 1.5rem; line-height: 2.2rem;
        }
    }
}