.btnWrap{
    position: fixed; right: 3%; bottom: 5%; 
    width: 7rem;
    background: #fff; 
    border-radius: 4px;
    .remoteWrap{
        height: 5rem;
        display: flex; align-items: center; justify-content: center; flex-direction: column;
        .remoteIndex{
            display: flex; align-items: center; justify-content: center;
            font-size: 1.5rem; font-weight: bold; color: #000;
            span{
                font-size: 1.8rem;
            }
            button{
                margin: 0 .5rem; 
                background: none; 
                font-size: 1.5rem; color: #000;
                cursor: pointer;
                &.disable{
                    color: rgb(161, 161, 161);
                    cursor: inherit;
                }
            }
        }
    }
}

@media all and (max-width:900px) {
    .btnWrap{
        width: 6rem;
    }
}

@media all and (max-width:500px) {
    .btnWrap{
        width: 5rem;
    }
}