body.dark{
    .remoteWrap{
        .remoteIndex{
            color: #fff;
        }
        button{
            color: #fff;
            &.disable{
                color: #afafaf;
            }
        }
    }
}


.remoteWrap{
    display: flex; align-items: center; justify-content: center; flex-direction: column;
    height: 5rem; border: 1px solid #999;
    .remoteIndex{
        display: flex; align-items: center; justify-content: center;
        font-size: 1.5rem; font-weight: bold; color: #000;
        span{
            display: block;
            font-size: 1.6rem; letter-spacing: -.9px;
        }
        button{
            display: block; height: 5rem; padding: 0 .7rem; font-size: 1.3rem; 
            background: none; color: #000;
            cursor: pointer;
            &.disable{
                color: #c1c1c1;
                cursor: inherit;
            }
        }
    }
}

@media all and (max-width:900px) {
    .remoteWrap{
        height: 4rem !important;
        .remoteIndex{
            span{
                font-size: 1.4rem;
            }
            button{
                height: 4rem;
            }
        }
    }
}

@media all and (max-width:900px) {
    .remoteWrap{
        height: 3rem !important;
        .remoteIndex{
            span{
                font-size: 1.35rem;
            }
            button{
                height: 3rem; padding: 0 .5rem; font-size: 1.2rem; 
            }
        }
    }
}
