.listWrap{
    max-width: 120rem; margin: 4rem auto 0;
    .itemContainer{
        &:first-child{
            border-top: 1px solid #ddd;
        }
        height: 8rem; 
        background: #F5F7FA; 
        border-bottom: 1px solid #ddd;
        transition: all .5s;
        a{
            transition: all .5s;
        }
        .itemWrap{
            display: flex; align-items: center; 
            height: 100%;
            .itemInfo{
                &TitleWrap{
                    p{
                        &:hover{
                            a{
                                color: #5684FD;
                            }
                        }
                        &:hover +span{
                            color: #5684FD;
                        }
                        margin-right: .5rem;
                        a{
                            font-size: 1.8rem; font-weight: 400; color: #505D7D;
                        }
                    }
                }
                &ContentWrap{
                    margin-top: .5rem;
                    display: flex; align-items: center; 
                    span{
                        font-size: 1.4rem; font-weight: 400; color: #000;
                    }
                    div{
                        a{
                            margin: 0 .5rem;
                            font-size: 1.4rem; font-weight: 400; color: #777;
                            &:hover{
                                color: #5684FD;
                            }
                        }
                    }
                    .comments{
                        position: relative; 
                        margin-left: 1rem; padding-left: .5rem;
                        display: block; 
                        &::before{
                            content: ''; 
                            position: absolute; left: -3px; top: 50%; 
                            width: 1px; height: 1.2rem; 
                            background: #777;
                            transform: translateY(-50%); 
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:1260px) {
    .listWrap{
        padding: 0 3rem; box-sizing: border-box;
        .itemContainer{
            .itemWrap{
                .itemInfo{
                    margin-left: 0;
                    width: 90%; 
                }
            }
        }
    }
}

@media all and (max-width:900px) {
    .listWrap{
        .itemContainer{
            height: 8rem; 
            border-bottom: 1px solid #ddd;
            .itemWrap{
                .itemInfo{
                    &TitleWrap{
                        p{
                            a{
                                overflow: hidden; 
                                display: block; 
                                width: 100%; 
                                text-overflow: ellipsis; white-space: nowrap ;
                                font-size: 1.7rem;
                            }
                        }
                    }
                    &ContentWrap{
                        margin-top: .5rem;
                        span{
                            font-size: 1.4rem; 
                        }
                        a{
                            margin: 0 .5rem;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:500px) {
    .listWrap{
        padding: 0 2rem;
        .itemContainer{
            height: 7rem;
            .itemWrap{
                .itemInfo{
                    &ContentWrap{
                        span{
                            font-size: 1.2rem;
                        }
                        div{
                            a{
                                font-size: 1.2rem;
                            }
                        }
                        .comments{
                            &::before{
                                height: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:400px) {
    .listWrap{
        .itemContainer{
            padding: .5rem 0;
            height: 6rem; 
            &.ask{
                height: 7rem; 
            }
            .itemWrap{
                .itemInfo{
                    &ContentWrap.ask{
                        display: block;
                        .comments{
                            display: block;
                            margin-top: .5rem; margin-bottom: .2rem;
                            margin-left: 0; padding-left: 0;
                            &::before{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:360px) {
    .listWrap{
        margin: 2.5rem auto 0;
    }
}

@media all and (max-width:340px) {
    .listWrap{
        padding: 0 1rem;
    }
}


