.listContainer{
    height: 10rem; 
    background: #F5F7FA;
    ul{
        display: flex; align-items: center; justify-content: center;
        height: 100%; 
        li{
            &.prevBtn{
                margin-right: 1rem;
            }
            &.nextBtn{
                margin-left: 1rem;
            }
            button{
                background: none; 
                font-size: 1.8rem; color: #505D7D;
                cursor: pointer; transition: all .5s;
                &:hover{
                    color: #5684FD;
                }
            }
            a{
                margin: 0 .5rem;
                display: flex; justify-content: center; align-items: center;
                width: 4rem; height: 4rem; 
                background: none;
                border-radius: 4px;
                font-size: 1.8rem; font-weight: 400; color: #697694; 
                cursor: pointer; transition: all .5s;
                &:hover{
                    background: rgba(105, 118, 148, 0.1);
                }
                &.active{
                    background: rgba(105, 118, 148, 0.1);
                }
            }
        }
    }
}

@media all and (max-width:1000px) {
    .listContainer{
        height: 8rem;
    }
}

@media all and (max-width:500px) {
    .listContainer{
        ul{
            li{
                button{
                    font-size: 1.6rem;
                }
                a{
                    font-size: 1.6rem;
                }
            }
        }
    }
}