body.dark{
    ul{
        li{
            background: #323232;
            border-bottom: 1px solid #AFAFAF;
            .itemWrap{
                .indexNumber{
                    color: #AFAFAF;
                }
                .itemInfo{
                    &TitleWrap{
                        p{
                            &:hover{
                                a{
                                    color: #e3e3e3;
                                }
                            }
                            &:hover +span{
                                color: #e3e3e3;
                            }
                            a{
                                color: #AFAFAF;
                            }
                        }
                    }
                    &ContentWrap{
                        span{
                            color: #AFAFAF;
                        }
                        div{
                            a{
                                color: #858585;
                                &:hover{
                                    color: #e3e3e3;
                                }
                            }
                        }
                    }
                }
            }
            &:hover{
                background: #5a5a5a;
            }
        }
    }
}

ul{
    li{
        background: #fff; transition: all .5s;
        height: 8rem; border-bottom: 1px solid #ddd;
        &:hover{
            background: #FEF9EF;
        }
        a{
            transition: all .5s;
        }
        .itemWrap{
            display: flex; align-items: center; 
            width: 120rem; height: 100%; margin: 0 auto;
            .indexNumber{
                width: 3.5rem; text-align: center;
                font-size: 1.6rem; font-weight: bold; color: #000;
            }
            .itemInfo{
                margin-left: 3.5rem;
                &TitleWrap{
                    p{
                        &:hover{
                            a{
                                color: #00A19D;
                            }
                        }
                        &:hover +span{
                            color: #00A19D;
                        }
                        margin-right: .5rem;
                        a{
                            font-size: 1.8rem; font-weight: bold; color: #000;
                        }
                    }
                }
                &ContentWrap{
                    margin-top: .5rem;
                    display: flex; align-items: center; 
                    span{
                        font-size: 1.4rem; color: #000; font-weight: bold; 
                    }
                    div{
                        a{
                            margin: 0 .5rem;
                            font-size: 1.4rem; color: #777; font-weight: bold;
                            &:hover{
                                color: #00A19D;
                            }
                        }
                    }
                    .comments{
                        position: relative; display: block; margin-left: 1rem; padding-left: .5rem;
                        &::before{
                            content: ''; position: absolute; left: -3px; top: 50%; transform: translateY(-50%); width: 1px; height: 1.2rem; background: #777;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:1250px) {
    ul{
        li{
            .itemWrap{
                width: 100%; height: 100%; margin: 0 0;
                .indexNumber{
                    width:6rem !important; font-size: 1.4rem;
                }
                .itemInfo{
                    width: calc(100% - 6rem); margin-left: 0;
                }
            }
        }
    }
}


@media all and (max-width:900px) {
    ul{
        li{
            height: 8rem; border-bottom: 1px solid #ddd;
            .itemWrap{
                .itemInfo{
                    &TitleWrap{
                        p{
                            a{
                                display: block; font-size: 1.7rem;
                                width: 30rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap ;
                            }
                        }
                    }
                    &ContentWrap{
                        margin-top: .5rem;
                        span{
                            font-size: 1.4rem; 
                        }
                        a{
                            margin: 0 .5rem;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:500px) {
    ul{
        li{
            height: 7rem;
            .itemWrap{
                .indexNumber{
                    width: 5.5rem !important;
                }
                .itemInfo{
                    &ContentWrap{
                        span{
                            font-size: 1.2rem;
                        }
                        div{
                            a{
                                font-size: 1.2rem;
                            }
                        }
                        .comments{
                            &::before{
                                height: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}