.container{
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    min-height: 60vh;
    h1{
        font-size: 20rem; font-weight: 400; color: #34495e;
    }
    p{
        margin-top: -2.5rem;
        font-size: 7rem; font-weight: 400; color: #00A19D;
    }
}

@media all and (max-width:900px) {
    .container{
        h1{
            font-size: 3rem;
        }
        p{
            margin-top: 2rem;
            font-size: 2rem;
        }
    }
}