.innerContainer{
    .innerInfo{
        .arrow{
            font-size: 2rem; color: #5684FD;
        }
        margin: 1.5rem 0 ; padding: 1rem; box-sizing: border-box;
        border: 2px solid rgba(80, 93, 125 , .4); border-radius: .5rem;
        .userInfo{
            display: flex; align-items: center;
            p{
                font-size: 5rem; color: rgb(80, 93, 125);
            }
            div{
                margin-left: 1rem;
                a{
                    margin-bottom: .3rem;
                    display: inline-block; 
                    font-size: 1.6rem; color: #505D7D; 
                    transition: all .5s;
                    &:hover{
                        color: #5684FD;
                    }
                }
                span{
                    display: block;
                    font-size: 1.4rem; color: #777;
                }
            }
        }
        .content{
            margin: 1rem 0 0 1rem;
            font-size: 1.6rem; color: #000;
        }
    }
    .innerComment{
        margin-left: 1rem;
    }
}
