.commentWrap{
    margin: 3rem 0 5rem;
    .mainComments{
        display: flex; color: #505D7D; align-items: center;
        h2{
            font-size: 2.3rem; margin-right: .5rem; font-weight: normal;
        }
        span{
            position: relative; top: .1rem;
            font-size: 1.8rem; 
        }
    }
    
}

@media all and (max-width:1260px) {
    .commentWrap{
        padding: 0 3rem;
        div{
            h2{
                font-size: 2rem;
            }
        }
    }
}

@media all and (max-width:500px) {
    .commentWrap{
        margin: 2rem 0 5rem;
        padding: 0 2rem;
        div{
            h2{
                font-size: 2rem;
            }
        }
    }
}

@media all and (max-width:340px) {
    .commentWrap{
        padding: 0 1rem;
    }
}